@attribute [Authorize(Policy = "AgentPolicy")]

<div class="top-row ps-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Eagency.Web Admin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <AuthorizeView Policy="AgentPolicy">

            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/manage-properties" Match="NavLinkMatch.All">
                        <i class="bi bi-clipboard"></i> &nbsp;&nbsp;Manage properties
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/manage-contracts" Match="NavLinkMatch.All">
                        <i class="bi bi-clipboard"></i> &nbsp;&nbsp;Manage contracts
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/manage-users" Match="NavLinkMatch.All">
                        <i class="bi bi-clipboard"></i> &nbsp;&nbsp;Manage users
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/create-agent" Match="NavLinkMatch.All">
                        <i class="bi bi-clipboard"></i> &nbsp;&nbsp;Create agent
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.All">
                        <i class="bi bi-person-circle"></i> &nbsp;&nbsp;Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <AccessDenied></AccessDenied>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
