@page "/access-denied"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <section>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>
