@page "/confirmemailchange"
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <section>
            <h1>@ViewData["Title"]</h1>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />