@page "/confirmemailchange"
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="row p-5 mt-2" style="background-color: #00203FFF; color: #ADEFD1FF; border-radius: 16px 16px">
    <div class="col-md-12 text-center">
        <section>
            <h1>@ViewData["Title"]</h1>
        </section>
    </div>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />