@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <section>
            <h1>@ViewData["Title"]</h1>
            <p>
                Please check your email to reset your password.
            </p>

        </section>
    </div>
    <div class="col-md-2"></div>
</div>