@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row p-5 mt-2" style="background-color: #00203FFF; color: #ADEFD1FF; border-radius: 16px 16px">
    <div class="col-md-12 text-center">
        <section>
            <h1>@ViewData["Title"]</h1>
            <p>
                Please check your email to reset your password.
            </p>

        </section>
    </div>
</div>